{% include "header.html.twig" %}
{% include "navigation.html.twig" %}
<main class="Site-content">
    <section class="Section">
        <div class="Container">
            <h2 class="Section-heading">Contact</h2>
            {% include "errorMessages.html.twig" %}
            {% include "statusMessage.html.twig" %}
            <form action="/contact" method="post" enctype="multipart/form-data">
                <div class="InputCombo Grid-full">
                    <label for="subject" class="InputCombo-label">Subject*</label>
                    <input type="text" id="subject" name="subject" value="{{ subject }}" class="InputCombo-field" placeholder="Please enter a Subject">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="request" class="InputCombo-label">Request*</label>
                    <textarea id="request" name="request" class="InputCombo-field" rows="5" cols="40" placeholder="Please enter a Request">{{ request }}</textarea>
                </div>
                <div class="InputCombo Grid-full">
                    <label for="email" class="InputCombo-label">Email*</label>
                    <input type="email" id="email" name="email" value="{{ email }}" class="InputCombo-field" placeholder="Please enter a valid Email">
                </div>
                <div class="InputCombo Grid-full">
                    <label for="priority" class="InputCombo-label">Priority*</label>
                    <input type="number" id="priority" name="priority" min="0" step="10" max="30" value="{{ priority }}" class="InputCombo-field" placeholder="Please choose a given Priority">
                </div>
                <div class="Grid-full">
                    <button type="submit" class="Button">Send</button>
                </div>
            </form>        </div>
    </section>
    <section class="Section">
        <div class="Container">
            <h2 class="Section-heading">Result in $_POST</h2>
            {% if result is defined %}
                <table class="Table u-tableW100">
                    <colgroup span="2" class="u-tableW50"></colgroup>
                    <thead>
                    <tr class="Table-row">
                        <th class="Table-header">Key</th>
                        <th class="Table-header">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in result %}
                        <tr class="Table-row">
                            <td class="Table-data">{{ key }}</td>
                            <td class="Table-data">{{ value | escape | nl2br }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>
</main>
{% include "footer.html.twig" %}